*.csv
*.tsv
*.json
*.xlsx
*.xls
/__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*.out
/experiments
/wandb
*/wandb
/tmp
/tmp_tutorial
intro2updated.ipynb
/tutorial
/proverka
/EVAL/errors_ColBERT/